<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/assets/css/common.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/assets/js/modal.js"></script>
<script src="/assets/js/modernizr.custom.js"></script>

</head>
<body>
  <div class="wrap">
    

    @include('layouts/partials/main_popup')
    {{--  <div class="popup myModal-system" style="width:380px; height:600px; top:50px; left:5%;">
    	<div class="top-msg"><span class="system-name"><span>Galaxy</span> News</span><span class="today-none"><input type="checkbox" class="chbx-position"><span class="chbx-txt">오늘은 그만 볼래요.</span></span><span class="close"><img src="/assets/images/box-close.png"></span></div>
    	<div class="popup-wrapper">
            <p>팝업 공지사항 입니다.<br>테스트 입니다.</p>
        </div>
    </div>  --}}
    
    <!--div class="idpw-set" style="width:320px; height:400px; top:50px; left:50%; margin-left:-160px;">
    	<div class="top-msg"><span class="system-name"><span>Galaxy</span> Account support</span></span><span class="close"><img src="/assets/images/box-close.png"></span></div>
        <div class="idpw-wrapper">
        	<h2>비빌번호 찾기<span><br>아이디 또는 닉네임과 등록된 연락처를 입력해 주세요.</span></h2>
            <div class="input-posistion">
            	<input type="text" class="input-type" placeholder="등록된 아이디">
            	<input type="text" class="input-type" placeholder="닉네임">
            	<input type="text" class="input-type" placeholder="등록된 연락처 (숫자만 입력)">
                <span class="agree-on">제출</span>
            </div>
        </div>
    </div-->
    
    <header>
    	<div class="header-wrapper">
        	<span class="center-galaxy"><img src="/assets/images/galaxylogo.png" width="300"></span>
            
            <div class="uib-area">
            	<span class="uib-button deposit_open" onclick="location.href='#'"><span class="uib-img" style="top:2px;"><img src="/assets/images/uib1.png"></span><span class="uib-name">입금신청</span></span>
                <span class="uib-button exchange_open" onclick="location.href='#'"><span class="uib-img" style="top:2px;"><img src="/assets/images/uib2.png"></span><span class="uib-name">출금신청</span></span>
                <span class="uib-button money_open" onclick="location.href='#'"><span class="uib-img" style="top:2px;"><img src="/assets/images/uib3.png"></span><span class="uib-name">머니이동</span></span>
                <span class="uib-button event_open" onclick="location.href='#'"><span class="uib-img"><img src="/assets/images/uib4.png"></span><span class="uib-name">이벤트신청</span></span>
                <span class="uib-button coupon_open" onclick="location.href='#'"><span class="uib-img"><img src="/assets/images/uib5.png"></span><span class="uib-name">쿠폰</span><span class="coupon-count">3</span></span>
            </div>
        </div>
    </header>
    
    
    <section>
    	<div class="container">
            
            <div class="game-select-area">
                <ul class="grid cs-style-1">
                    <li>
                        <figure>
                            <img src="/assets/images/slgame1.png">
                            <figcaption>
                            	<div class="figb-area">
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn1.png) center left 30px no-repeat;"></span><span>타이산</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn2.png) center left 30px no-repeat;"></span><span>마이크로</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn3.png) center left 30px no-repeat;"></span><span>LMG</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn4.png) center left 30px no-repeat;"></span><span>Ho</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn5.png) center left 30px no-repeat;"></span><span>아시아</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn6.png) center left 30px no-repeat;"></span><span>게임플레이</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn7.png) center left 30px no-repeat;"></span><span>드림</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn8.png) center left 30px no-repeat;"></span><span>올뱃</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn9.png) center left 30px no-repeat;"></span><span>플레이택</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn10.png) center left 30px no-repeat;"></span><span>에볼루션</span></span>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="/assets/images/slgame2.png">
                            <figcaption>
                            	<div class="figb-area">
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn11.png) center left 30px no-repeat;"></span><span>마이다스</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn12.png) center left 30px no-repeat;"></span><span>BBIN</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn13.png) center left 30px no-repeat;"></span><span>카가얀</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn14.png) center left 30px no-repeat;"></span><span>오리엔탈</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn15.png) center left 30px no-repeat;"></span><span>W88</span></span>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="/assets/images/slgame3.png">
                            <figcaption>
                            	<div class="figb-area">
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn2.png) center left 30px no-repeat;"></span><span>마이크로 슬롯</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn9.png) center left 30px no-repeat;"></span><span>플레이텍 슬롯</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn16.png) center left 30px no-repeat;"></span><span>아리스토 슬롯</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn10.png) center left 30px no-repeat;"></span><span>에볼루션 룰렛</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn10.png) center left 30px no-repeat;"></span><span>에볼루션 블랙잭</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn10.png) center left 30px no-repeat;"></span><span>에볼루션 라이트닝 룰렛</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn10.png) center left 30px no-repeat;"></span><span>에볼루션 드림캐처</span></span>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="/assets/images/slgame4.png">
                            <figcaption>
                            	<div class="figb-area">
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn17.png) center left 30px no-repeat;"></span><span>피나클</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn18.png) center left 30px no-repeat;"></span><span>스보뱃</span></span>
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn19.png) center left 30px no-repeat;"></span><span>STAG8</span></span>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="/assets/images/slgame5.png">
                            <figcaption>
                            	<div class="figb-area">
                                    <span class="fig-button"><span class="back-hov" style="background:url(/assets/images/csn20.png) center left 30px no-repeat;"></span><span>IDN 포커</span></span>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
                <script src="/assets/js/toucheffects.js"></script>
            </div>
            
            <div class="center-form">
            	<div class="form-board">
                	<div class="form-wrapper">
                    	<div class="form-tab-area">
                        	<span class="tab-button-on">공지사항</span>
                        	<span class="tab-button">이벤트</span>
                            <span class="tab-button">FAQ</span>
                            <span class="tab-button">스포츠공지</span>
                        </div>
                        <div class="tab-content">
                        	<table>
                                <colgroup>
                                    <col width="75%">
                                    <col width="25%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        {{--  추후에 반복문으로 class 1씩 추가  --}}
                                        <td class ="notice_view notice">공지사항 입니다. 테스트 입니다.</td>
                                        <td class="cont-date">2020/02/02</td>
                                    </tr>
                                    <tr>
                                        <td class ="notice_view notice">공지사항 입니다. 테스트 입니다.</td>
                                        <td class="cont-date">2020/02/02</td>
                                    </tr>
                                    <tr>
                                        <td class ="notice_view notice">공지사항 입니다. 테스트 입니다.</td>
                                        <td class="cont-date">2020/02/02</td>
                                    </tr>
                                    <tr>
                                        <td class ="notice_view notice">공지사항 입니다. 테스트 입니다.</td>
                                        <td class="cont-date">2020/02/02</td>
                                    </tr>
                                    <tr>
                                        <td class ="notice_view notice">공지사항 입니다. 테스트 입니다.</td>
                                        <td class="cont-date">2020/02/02</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-login">
                	<div class="top-msg"><span class="system-name"><span>Galaxy</span> Login</span></div>
                    <div class="login-location">
                        <h1><img src="/assets/images/none-title.png"></h1>
                        
                        <div class="login-inner-on">
                            <h2>어드민99님 접속중..</h2>
                            <div class="logb-area">
                            	<span class="logb-button mypage_view">마이페이지</span>
                            	<span class="logb-button-logout">로그아웃</span>
                            </div>
                            <div class="log-support-area">
                            	<div class="log-support-txt">
                                	<span class="support-cont"><span>서비스 이용에 어려움이 있으신가요?<br></span>24h 콜센터 운영중</span>
                                </div>
                                <div class="log-cc-area"><span class="col-name">입출금 문의</span><span class="col-txt">070 0000 0000</span></div>
                                <div class="log-cc-area"><span class="col-name">게임 문의</span><span class="col-txt">070 0000 0000</span></div>
                                <div class="log-cc-area"><span class="col-name">이벤트 문의</span><span class="col-txt">070 0000 0000</span></div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="form-drawing">
                	<div class="form-wrapper">
                    	<div class="form-tab-area">
                        	<span class="tab-button-on">실시간 출금</span>
                        	<span class="tab-button">Top 랭킹</span>
                        </div>
                        <div class="tab-content">
                        	<table>
                                <colgroup>
                                    <col width="30%">
                                    <col width="30%">
                                    <col width="40%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>10,000,000 원</td>
                                        <td class="cont-date">Admini****님</td>
                                        <td class="cont-date">2020/02/02 22:00:00</td>
                                    </tr>
                                    <tr>
                                        <td>10,000,000 원</td>
                                        <td class="cont-date">Admini****님</td>
                                        <td class="cont-date">2020/02/02 22:00:00</td>
                                    </tr>
                                    <tr>
                                        <td>10,000,000 원</td>
                                        <td class="cont-date">Admini****님</td>
                                        <td class="cont-date">2020/02/02 22:00:00</td>
                                    </tr>
                                    <tr>
                                        <td>10,000,000 원</td>
                                        <td class="cont-date">Admini****님</td>
                                        <td class="cont-date">2020/02/02 22:00:00</td>
                                    </tr>
                                    <tr>
                                        <td>10,000,000 원</td>
                                        <td class="cont-date">Admini****님</td>
                                        <td class="cont-date">2020/02/02 22:00:00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="btm-manual-area">
            	<span class="manual-button gamerule_show"><span class="button-img"><img src="/assets/images/btmico1.png"></span><span class="button-name">게임방법</span></span>
            	<span class="manual-button remote_show"><span class="button-img"><img src="/assets/images/btmico2.png"></span><span class="button-name">원격지원</span></span>
            	<span class="manual-button vaccine_show"><span class="button-img"><img src="/assets/images/btmico3.png"></span><span class="button-name">안전지킴이</span></span>
            	<span class="manual-button partnership_show"><span class="button-img"><img src="/assets/images/btmico4.png"></span><span class="button-name">파트너제휴</span></span>
            </div>
            
        	<span class="select-game-img"><img src="/assets/images/txtimg.png"></span>
        </div>
    </section>
    
    
    
    
    <footer>
    	
        <div class="ftr-quick">
        	<a href="#">바카라</a>
        	<a href="#">블랙잭</a>
        	<a href="#">룰렛</a>
        	<a href="#">식보</a>
        	<a href="#">드래곤타이거</a>
        	<a href="#">크레이지21</a>
        	<a href="#">바카라보험</a>
        	<a href="#">캐리비언스티트포커</a>
        	<a href="#">볼파이트</a>
        	<a href="#">트리플 페이스카드</a>
        	<a href="#">마종</a>
        </div>
        <div class="ftr-logo"><img src="/assets/images/ftrlogo.png"></div>
        <div class="copyrights">Clean operating game system online casino entertainment of galaxy<br>Copyrights by 2015 Galaxy Casino all rights reserved.</div>
        
    </footer>

    @include('layouts/partials/popup')
    
    
    
</div>

 
</body>
</html>
