<div class="popup myModal-system" style="width:380px; height:600px; top:50px; left:5%;">
    <div class="top-msg"><span class="system-name"><span>Galaxy</span> News</span><span class="today-none"><input type="checkbox" class="chbx-position"><span class="chbx-txt">오늘은 그만 볼래요.</span></span><span class="close"><img src="/assets/images/box-close.png"></span></div>
    <div class="popup-wrapper">
        <p>팝업 공지사항 입니다.<br>테스트 입니다.</p>
    </div>
</div>